@media screen and (max-width: 991.98px) {
    // ____________header____________
    .header {
        &__logo {
            display: none;
        }
        &__menu {
            opacity: 0;
            position: absolute;
            visibility: hidden;
            transition: all .2s;
            transform: translateX(-100vh);
            transition: opacity .01s;
        }
        &__column {
            flex: 0 1 auto;
            gap: 18px;
        }
    }

    // ____________footer____________

    .footer {
        &__row {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__help {
            flex: 1 1 auto;
        }
        &__pages {
            display: none;
        }
        &__input {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 40px;
        }
        &__input-box {
            flex: 1 1 50%;
            & label {

            }
            & input {

            }
        }
    }
}


