@media screen and (max-width: 991.98px) {
    // ____________header____________
    .header {
        &__logo {
            display: none;
        }
        &__menu {
            opacity: 0;
            position: absolute;
            visibility: hidden;
            transition: all .2s;
            transform: translateX(-100vh);
            transition: opacity .01s;
        }
        &__column {
            flex: 0 1 auto;
            gap: 18px;
        }
    }
}


