@media screen and (max-width: 767.98px) {
	.home {
		& .section-title {
			font-size: 1.8rem;
		}
	}

	// ____________footer____________
	.footer {
		&__input-label {
			font-size: 1.08rem;
		}

		&__label-icon {
			right: 22px;
		}

		&__input-item {
			padding: 14.5px 55px 14.5px 15px;
		}
	}

	// ==================index.html==================
	// ____________doogs____________
	.goods {
		&__row {
			grid-template-columns: repeat(2, minmax(100px, 1fr));
		}

		&__image {
			aspect-ratio: 190 / 120;
		}
	}

	// ==================about.html==================
	.about-us {
		&__item {
			&:nth-child(n) {
				flex-direction: column-reverse;
				gap: 20px;
			}
		}

		&__image-box {
			aspect-ratio: 398 / 268;
		}
	}
}