.catalog {

   // .catalog__container

   &__container {
      display: grid;
      grid-template-columns: minmax(200px, 302px) 1fr;

      grid-template-rows: repeat(2, auto);
      column-gap: 241px;
      row-gap: 68px;

      margin: 48px 0;
   }

   // .catalog__title

   &__title {
      grid-column: span 2 / span 2;
   }

   // .catalog__sidebar

   &__sidebar {
      grid-row-start: 2;
   }

   // .catalog__price

   &__price {
      &:not(:last-child) {
         margin-bottom: 64px;
      }
   }

   // .catalog__price-title

   &__price-title {
      &:not(:last-child) {
         margin-bottom: 43px;
      }
   }

   // .catalog__price-slider

   &__price-slider {}

   // .catalog__price-line

   &__price-line {}

   // .catalog__price-point

   &__price-point {}

   // .catalog__price-fixed-value

   &__price-fixed-value {}

   // .catalog__price-loading-indicator

   &__price-loading-indicator {}

   // .catalog__price-loading-spinner

   &__price-loading-spinner {}

   // .catalog__checkbox

   &__checkbox {
      &:not(:last-child) {
         margin-bottom: 46px;
      }

   }

   // .catalog__checkbox-title

   &__checkbox-title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: 23px;
      }

      &::after {
         content: '';
         width: 24px;
         height: 24px;
         display: inline-block;
         background-image: url('../assets/img/arrow_down-catalog.svg');
      }

      &.active::after {
         transform: rotate(180deg);
      }


   }

   // .catalog__checkbox-content

   &__checkbox-content {
      display: none;
      position: relative;

      &.active {
         display: inline-flex;
         flex-direction: column;
         row-gap: 19px;
      }
   }

   // .catalog__checkbox-item

   &__checkbox-item {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked+.catalog__checkbox-label::before {
         background: url('../assets/img/check-catalog.svg') center / 90% no-repeat;
      }

      &:focus+.checkbox__label {
         outline: 1px solid $color_white;
         border-radius: 5px;
      }
   }

   // .catalog__checkbox-label

   &__checkbox-label {
      cursor: pointer;
      display: inline-flex;
      gap: 10px;

      &::before {
         content: "";
         flex: 0 0 34px;
         width: 34px;
         height: 34px;
         border: 1px solid $color_green-additional;
         border-radius: 10px;
         background: $color_white;
      }
   }

   // .catalog__checkbox-text

   &__checkbox-text {
      align-self: center;
   }

   // .catalog__grid

   &__grid {
      display: flex;
      flex-direction: column;
      grid-row-start: 2;
   }

   &__sorting {
      position: relative;
      display: inline-block;
      align-self: flex-end;

      &:not(:last-child) {
         margin-bottom: 136px;
      }

      span {
         display: inline-flex;
         align-items: center;

         padding: 10px 25px;
         border: 1px solid $color_black;
         border-radius: 8px;
         cursor: pointer;

         &::after {
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;
            background-image: url('../assets/img/candlestick-catalog.svg');
            background-size: cover;
            margin-left: 10px;
         }
      }

      &:hover .catalog__sorting-dropdown {
         display: inline-flex;
      }
   }

   &__sorting-dropdown {
      display: none;
      flex-direction: column;
      row-gap: 20px;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      padding: 40px;
      border: 1px solid $color_green-additional;
      border-radius: 8px;

      background: $color_green-main;

      a {
         // padding: 12px 16px;
         text-decoration: none;
         display: block;
         color: $color_green-additional;

         &:hover {}
      }
   }

   // .catalog__sorting-item

   &__sorting-item {
      white-space: nowrap;
   }

   // .catalog__card-goods

   &__card-goods {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      column-gap: 133px;
      row-gap: 70px;
   }
}

.noUi-target {}

.noUi-ltr {}

.noUi-horizontal {
   height: 1px !important;
}

.noUi-txt-dir-ltr {}

.noUi-base {}

.noUi-connects {
   background: $color_green-additional;
}

.noUi-connect {
   background: $color_green-additional !important;
}

.noUi-origin {}

.noUi-horizontal .noUi-handle {
   width: 26px !important;
   height: 26px !important;
   right: 0 !important;
   top: -13px !important;
}

.noUi-handle {
   border-radius: 50% !important;
   background: $color_green-secondary !important;

}

.noUi-handle:after,
.noUi-handle:before {
   content: none !important;
}

.noUi-handle-lower {}

.noUi-touch-area {}

.noUi-tooltip {}

.noUi-handle-upper {}


.catalog {

   // .catalog__price

   &__price {}

   // .catalog__price-slider

   &__price-slider {
      position: relative;
   }

   // .catalog__price-tooltip-min

   &__price-tooltip-min,
   &__price-tooltip-max {
      bottom: 11px;
   }

   &__price-tooltip-min {
      position: absolute;
      right: 0;
   }

   // .catalog__price-tooltip-max

   &__price-tooltip-max {
      position: absolute;
      left: 0;
   }
}

//=============== Dropdown menu for catalog goods ===============//

.card-goods {
   &__dropdown {
      position: relative;
      display: inline-block;
   }

   &__dropdown-toggle {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      padding: 5px 5px;
      cursor: pointer;
   }

   &__dropdown-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #fff;
      border: 1px solid #ccc;
      z-index: 1;
      width: 100%;
      overflow-y: auto;
   }

   &__dropdown-item {
      padding: 5px;
      cursor: pointer;
   }

   &__dropdown-item:hover {
      background-color: #eee;
   }
}

//=============== Pagination for catalog ===============//

#paginationContainer {
   grid-column: span 2 / span 2;
   width: 100%;
}

.paginationjs {}

.paginationjs-pages {
   ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 28px;

      .active {
         font-weight: 700;
      }
   }
}

.paginationjs-prev {}

.disabled {}

.paginationjs-page {}

.J-paginationjs-page {}

.active {}

.paginationjs-next {}

.J-paginationjs-next {}