.footer {
	padding: 32px 0px;
	background-color: $color_green-bg;

	// .footer__row
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-bottom: 81px;
	}

	// .footer__help
	&__help {
		flex: 0 1 33.333%;
	}

	// .footer__link
	&__link {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// .footer__link-item
	&__link-item {
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.25;
		letter-spacing: 0.01em;
		color: $color_green-additional;

		&:hover {
			color: $color_green-main;
			transition: 0.2s;
		}
	}

	// .footer__pages
	&__pages {
		flex: 0 1 33.333%;
	}

	// .footer__subtitle
	&__subtitle {
		margin-bottom: 16px;
		font-size: 1.25rem;
		line-height: 1.9;
		letter-spacing: 0.01em;
	}

	// .footer__input
	&__input {
		flex: 0 1 33.333%;
	}

	// .footer__input-box
	&__input-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 8px;
	}

	// footer__input-label
	&__input-label {
		margin-bottom: 16px;
		font-size: 1.25rem;
		line-height: 1.9;
		letter-spacing: 0.01em;
	}

	// .footer__input-row
	&__input-row {
		position: relative;
		width: 100%;
	}

	// .footer__label-icon
	&__label-icon {
		position: absolute;
		top: 50%;
		right: 42px;
		transform: translate(0, -50%);
		max-width: 30px;
		max-height: 30px;
	}

	// .footer__input-icon
	&__input-icon {
		cursor: text;
		width: 24px;
		height: 24px;
	}

	// .footer__input-item
	&__input-item {
		padding: 14.5px 75px 14.5px 40px;
		width: 100%;
		font-size: 1.02rem;
		line-height: 1.56;
		letter-spacing: 0.01em;
		color: $color_green-secondary;
		border: 2px solid $color_green-secondary;
		border-radius: 8px;

		&::placeholder {
			line-height: 1.56;
			letter-spacing: 0.05em;
			color: $color_green-secondary;
		}

		&:hover,
		&:focus {
			border: 2px solid $color_green-additional;
			box-shadow: $shadow_input-hover;
		}

		&:active {
			box-shadow: none;
		}
	}

	// .footer__input-button
	&__button {
		width: 100%;
	}

	// .footer__rights
	&__rights {
		display: inline-block;
		width: 100%;
		font-weight: 500;
		font-size: 0.62rem;
		line-height: 1.5;
		letter-spacing: -0.01em;
		text-align: center;
	}
}
