.footer {
    background-color: $color_green-bg;
    padding: 32px 0px;

    // .footer__container

    &__container {
    }

    // .footer__row

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 81px;
        gap: 40px;
    }

    // .footer__help

    &__help {
        flex: 0 1 33.333%;
    }

    // .footer__menu

    &__menu {
    }
    
    // .footer__link
    &__link {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    
    // .footer__link-item
    &__link-item {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: $color_green-additional;
    }
    
    // .footer__pages
    
    &__pages {
        flex: 0 1 33.333%;
    }
    // .footer__subtitle
    
    &__subtitle {
        font-size: 1.25rem;
        line-height: 1.9;
        letter-spacing: 0.01em;
        margin-bottom: 16px;
    }

    // .footer__input

    &__input {
        flex: 0 1 33.333%;
    }

    // .footer__input-box

    &__input-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }
    
    // footer__input-label
    &__input-label {
        font-size: 1.25rem;
        line-height: 1.9;
        letter-spacing: 0.01em;
        margin-bottom: 16px;
    }

    // .footer__input-row
    &__input-row {
        width: 100%;
        position: relative;
    }

    // .footer__label-icon 
    &__label-icon {
        position: absolute;
        top: 50%;
        right: 42px;
        transform: translate(0, -50%);
        max-width: 30px;
        max-height: 30px;

    }
    // .footer__input-icon
    &__input-icon {
        width: 24px;
        height: 24px;
        cursor: text;
    }
    // .footer__input-item
    &__input-item {
        width: 100%;
        border: 2px solid $color_green-secondary;
        border-radius: 8px;
        padding: 14.5px 75px 14.5px 40px;
        line-height: 1.56;
        letter-spacing: 0.01em;
        color: $color_green-secondary;
        font-size: 1.02rem;
        &::placeholder {
            color: $color_green-secondary;
            line-height: 1.56;
            letter-spacing: 0.05em;
        }
        &:hover,
        &:focus {
              border: 2px solid $color_green-additional;
              box-shadow: $shadow_input-hover
        }
        &:active {
              box-shadow: none;
        }
    }
    
    // .footer__button-box
    &__button-box {

    }

    // .footer__input-button
    &__button {
        width: 100%;
        // transition: min-width 0s;
    }

    // .footer__rights

    &__rights {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        font-size: 0.62rem;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }
}

 