// -------------------------global-------------------------
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

a {
      text-decoration: none;

      &:focus {
            outline: none;
      }
}

input[type=search] {
      box-sizing: border-box;
}

[class*="__container"] {
      max-width: 1380px;
      padding: 0 2.9%;
      margin: 0 auto;
}

.title {
      font-weight: 500;
      font-size: 40px;
      line-height: 1;

      &.subtitle {
            font-size: 36px;
      }

      &.label {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.25;
            letter-spacing: 0.01em;
      }
}

.btn {
      display: inline-block;
      padding: 16.5px 20px;
      min-width: 412px;
      font-size: 1.25rem;
      line-height: 1.25;
      letter-spacing: 0.01em;
      text-align: center;
      border-radius: 8px;
      border: none;
      font-family: $font-main-montserat;
      background-color: $color_green-main;
      color: $color_green-additional;
      box-shadow: $shadow_button;

      &:hover {
            transition: .2s;
            box-shadow: $shadow_button-hover;
      }

      &:focus,
      &:active {
            transition: .2s;
            box-shadow: $shadow_button;
            background-color: $color_green-secondary;
      }

      &-small {
            min-width: 363px;
      }

      &-big {
            min-width: 520px;
      }

      &-outline {
            background-color: transparent;
            border: 1px solid $color_green-additional;

            &:hover {
                  transition: .2s;
                  background-color: transparent;
            }

            &:focus,
            &:active {
                  transition: .2s;
                  background-color: $color_green-main;
            }
      }
}

.input {
      &__box {
            position: relative;
      }

      border: 2px solid $color_green-secondary;
      border-radius: 8px;
      padding: 10px 55px 10px 40px;
      background-color: $color_white;
      line-height: 1.56;
      letter-spacing: 0.01em;
      color: $color_green-secondary;
      transition: .2s;

      &::placeholder {
            color: $color_green-secondary;
      }

      &__icon {
            height: 24px;
            width: 24px;
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            cursor: text;
      }

      &:hover,
      &:focus {
            border: 2px solid $color_green-additional;
            box-shadow: $shadow_input-hover
      }

      &:active {
            box-shadow: none;
      }
}

//=============== Text ===============//

.text__item {
      &:not(:last-child) {
            margin-bottom: 1.25rem; // 20px
      }
}

.body-text {
      font-family: $font-main-montserat;
      line-height: 2.375rem; // 38px
      font-size: 1.875rem; // 30px

      &--second {
            font-size: 1.25rem; // 20px
            letter-spacing: 0.01em;
      }
}

.card-text {
      font-family: $font-main-montserat;
      font-size: 1.25rem; // 20px
      font-weight: 500;
      line-height: 1.5625rem; // 25px
      letter-spacing: 0.01em;
}

.small-text {
      font-family: $font-main-montserat;
      font-weight: 500;
      line-height: 1.5rem; // 24px
      letter-spacing: -0.01em;
}

.section-title {
      font-family: $font-main-montserat;
      font-size: 2.5rem; // 40px
      font-weight: 500;
      line-height: 2.5rem; // 40px
}

.input-order {
      border: 2px solid $color_green-secondary;
      border-radius: 8px;
      padding: 16px 301px 16px 40px;
      background-color: $color_white;
      line-height: 1.56;
      letter-spacing: 0.01em;
      color: $color_green-secondary;
      transition: .3s;
      max-width: 519px;
      max-height: 92px;
      font-weight: 400;

      &__box {
            max-width: 520px;
            display: flex;
            flex-direction: column;
            gap: 10px;
      }

      &::placeholder {
            color: $color_green-secondary;
      }

      &__title {
            color: $color_khaki;
            line-height: 1.56;
            display: inline;
            font-family: $font-main-montserat, sans-serif;
            font-size: 20px;
            font-weight: 400;
      }

      &:hover,
      &:focus {
            border: 2px solid $color_green-additional;
            box-shadow: 4px 4px 10px 0 #00000040;
      }

      &:active {
            box-shadow: none;
      }
}

.input-profile {
      border: 2px solid $color_green-secondary;
      border-radius: 8px;
      padding: 16px 301px 16px 40px;
      background-color: $color_white;
      line-height: 1.56;
      letter-spacing: 0.01em;
      color: $color_green-secondary;
      transition: .3s;
      max-width: 519px;
      max-height: 92px;
      font-weight: 400;

      &__btn {
            position: absolute;
            right: 28px;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            color: #1E4A0D;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 10px;
            line-height: 15px;
            font-family: $font-main-montserat;
            font-weight: 500;

      }

      &__box {
            max-width: 520px;
            position: relative;
      }

      &__item {
            max-width: 520px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 95px;
      }

      &__title {
            color: $color_khaki;
            line-height: 1.56;
            display: inline;
            font-family: $font-main-montserat, sans-serif;
            font-size: 20px;
            font-weight: 400;
      }

      &:hover,
      &:focus {
            border: 2px solid $color_green-additional;
            box-shadow: 4px 4px 10px 0 #00000040;
      }

      &:active {
            box-shadow: none;
      }
}

.radio {
      &__box {
            max-width: 565px;
            max-height: 37px;
            display: flex;
            gap: 22px;
      }

      appearance: none;
      display: inline-block;
      position: relative;
      border: 1px solid $color_green-additional;
      width: 34px;
      height: 34px;
      border-radius: 50%;

      &:checked {
            background-color: $color_green-main;
      }

      &:hover {
            cursor: pointer;
      }

      &::before {
            content: '';
            width: 50%;
            height: 50%;
            background-color: $color_green-additional;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            left: 25%;
            display: none;
      }

      &:checked::before {
            display: block;
      }

      &__text {
            font-size: 30px;
            color: $color_green-secondary;
            font-family: $font-main-montserat, sans-serif;
            line-height: 36px;
            font-weight: 400;
            max-width: 510px;
      }
}

// -------------------------markup settings (for remove)-------------------------
.markup {
      background: $color_gradient;
      padding: 20px 0;

      &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-auto-flow: row;
            gap: 20px;
            align-items: flex-start;
      }

      // .markup__element
      &__element {
            padding: 20px;
            border-radius: 5px;
            background-color: $color_disable-secondary;
            box-shadow: 0 2px 4px 0 #3b3b3b33, inset 0 -2px 4px 0 #3b3b3b26, 4px 4px 10px 0 #3b3b3b40;

      }

      // .markup__title
      &__title {}

      &__element-check {
            grid-column: 1/3;
            border-radius: 5px;
            padding: 20px;
            background-color: $color_disable-secondary;
            box-shadow: 0 2px 4px 0 #3b3b3b33, inset 0 -2px 4px 0 #3b3b3b26, 4px 4px 10px 0 #3b3b3b40;
      }

      // .markup__title
      &__title {
            font-size: 34px;
            margin-bottom: 20px;
            font-weight: 600;
            line-height: 40px;
            border-bottom: 1px dashed $color_black;
      }
}

.color {

      // .color__element
      &__element {
            grid-row: span 3;
      }

      // .color__item
      &__item {
            display: flex;
            align-items: center;
            gap: 20px;

            &:not(:last-child) {
                  margin-bottom: 20px;
            }
      }

      // .color__view
      &__view {
            flex: 0 0 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 4px 4px 10px 0 #00000040;
      }

      // .color__name
      &__name {
            font-size: 19px;
            line-height: 26px;
      }

      // .color__view-1
      &__view-1 {
            background-color: $color_green-main;
      }

      // .color__view-2
      &__view-2 {
            background-color: $color_green-secondary;
      }

      // .color__view-3
      &__view-3 {
            background-color: $color_green-additional;
      }

      // .color__view-3_1
      &__view-3_1 {
            background-color: $color_green-accent;
      }

      // .color__view-3_2
      &__view-3_2 {
            background-color: $color_green-bg;
      }

      // .color__view-4
      &__view-4 {
            background-color: $color_white;
      }

      // .color__view-5
      &__view-5 {
            background-color: $color_black;
      }

      // .color__view-6
      &__view-6 {
            background-color: $color_beige;
      }

      // .color__view-7
      &__view-7 {
            background-color: $color_khaki;
      }

      // .color__view-8
      &__view-8 {
            background-color: $color_orange;
      }

      // .color__view-9
      &__view-9 {
            background-color: $color_grey;
      }

      // .color__view-10
      &__view-10 {
            background-color: $color_error;
      }

      // .color__view-11
      &__view-11 {
            background-color: $color_disable;
      }

      // .color__view-12
      &__view-12 {
            background-color: $color_disable-secondary;
      }

      // .color__view-13
      &__view-13 {
            background: $color_gradient;
      }

      // .color__view-14
      &__view-14 {
            background: $color_gradient-secondary;
      }

      // .color__view-15
      &__view-15 {
            background: $color_gradient-additional;
      }
}

.titles,
.buttons,
.inputs {

      .inputs {

            // .titles__item
            &__item {
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  align-items: flex-start;

                  &:not(:last-child) {
                        margin-bottom: 20px;
                  }
            }
      }
}

//=============== Card ===============//

.card {
      // .card__content

      &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            row-gap: 16px;
      }

      // .card__img

      &__img {
            &:not(:last-child) {
                  margin-bottom: 16px;
            }

            img {
                  border-radius: 18px;
                  max-width: 100%;
            }
      }

      // .card__title

      &__title {
            justify-self: flex-start;
      }

      // .card__icons

      &__icons {
            display: flex;
            gap: 8px;
            justify-self: flex-end;
      }

      // .card__weight

      &__weigth {
            justify-self: flex-start;
      }

      // .card__price

      &__price {
            justify-self: flex-end;
      }
}

.icons-card {

      // .icons-card__like

      &__like {}

      // .icons-card__cart

      &__cart {}
}