.login {
    max-width: 500px;
    max-height: 682px;
    margin: 70px auto 82px auto;

    &__block {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__btn {
        min-width: 500px;
    }

    &__btnm {
        margin-top: 12px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__repass {
        color: $color_green-additional;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 auto;

        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 10;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $color_green-additional;
            bottom: 3px;
        }
    }
}


.or {
    display: flex;
    justify-content: center;
    color: $color_green-additional;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    margin: 0;
}

.error-message {
    color: $color_error;
    font-size: 14px;
    display: none;
    margin-top: 4px;
}

.input-order--error {
    border: 2px solid $color_error;
}

.error-login {
    color: $color_error;
    font-size: 14px;
    display: none;
    margin-top: 4px;
}