section.hero,
.hero {
	margin: 0;

	// .hero__swiper
	// .swiper
	&__swiper {
		width: 100%;
		height: calc(100vh - 79px);
		max-height: 1600px;
	}

	// .swiper-slide
	& .slide {
		position: relative;

		// .slide__img-box
		&__img-box {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: $color_white;
		}

		// .slide__img
		&__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&__container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}

		// .slide__content
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			margin-left: auto;
			padding: 40px 0;
			max-width: 525px;
		}

		// .slide__title
		&__title {
			margin-bottom: 0.35em;
			font-family: $font-playfair;
			font-weight: 500;
			font-size: 6rem;
			-webkit-text-fill-color: transparent;
			background: $color_gradient-additional;
			background-clip: text;
			-webkit-background-clip: text;

			&-second {
				margin-bottom: 0.35em;
				font-family: $font-playfair;
				font-weight: 500;
				font-size: 3rem;
				line-height: 1.28;
				color: $color_orange;

				& span {
					color: $color_error;
				}
			}
		}

		// .slide__subtitle
		&__subtitle {
			line-height: 1.2;
		}

		// .slide__text
		&__text {
			margin-bottom: 1rem;
			text-align: justify;

			p:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		&__third {
			overflow: hidden;

			& .slide__img {
				object-position: left;
			}

			& .slide__container {
				display: flex;
				align-items: flex-start;
				height: 100%;
			}

			& .slide__content {
				display: flex;
				flex-direction: column;
				gap: 16px;
				height: auto;
				margin-top: 11%;
				margin-right: auto;
				margin-left: 0;
				max-width: 564px;
				padding: 38px 32px;
				background: $color_gradient-orange;
				border-radius: 16px;
			}

			& .slide__title {
				margin-bottom: 0.55em;
				font-size: 2.5rem;
				color: $color_error;
				-webkit-text-fill-color: unset;
				background: transparent;
				background-clip: unset;
				-webkit-background-clip: unset;
			}

			& .slide__text {
				color: $color_white;

				& span {
					color: $color_yellow;
				}
			}

			& .slide__btn {
				background-color: $color_yellow;
			}

			& .slide__image-additoional {
				position: absolute;
				top: 0;
				right: -6.5%;
				transform: rotate(15deg);
				width: 27%;
				height: auto;
			}
		}
	}
}

.home .swiper {
	//.swiper-pagination
	&-pagination {
		bottom: 16px;

		&-bullet {
			opacity: 1;
			width: 24px;
			height: 24px;
			background-color: $color_green-main;

			&:hover {
				box-shadow: $shadow_button;
				transition: 0.2s;
			}

			&-active {
				background-color: $color_green-additional;
			}
		}
	}
}