// -------------------------fonts-------------------------

$font-main-montserat: 'Montserrat';

$font-inter: 'Inter';
$font-lato: 'Lato';
$font-playfair: 'Playfair Display';
$font-poppins: 'Poppins';

// -------------------------colors-------------------------
$color_green-main: #D0EDC4;
$color_green-secondary: #99C487;
$color_green-additional: #1E4A0D;

$color_white: #ffffff;
$color_black: #414141;
$color_beige: #FCF2E2;
$color_khaki: #847D52;

$color_error: #DB1B1B;
$color_disable: #CDCBC9;
$color_disable-secondary: #EFECEC;

$color_gradient: linear-gradient(180deg, #d0edc4 0%, #86aa78 100%);
$color_gradient-secondary: linear-gradient(90deg, #1e4a0d 0%, #99c487 100%);

// -------------------------breackpoints-------------------------
