<section class="about">
    <div class="about__container">
        <h1 class="section-title about__title">Про нас</h1>
        <div class="about__row">
            <div class="about__item">
                <div class="body-text">
                    <p>Наша чайна історія розпочалася кілька років тому з мандрівки до невеличкого гірського селища, де ми вперше спробували справжній, ароматний чай, зібраний вручну. Це був особливий момент, який надихнув нас створити власний чайний магазин. Ми ретельно обираємо кожен сорт чаю, співпрацюючи з кращими фермерами з різних куточків світу, щоб ви могли насолоджуватися справжнім смаком і ароматом.</p>
                </div>
                <div class="about__image-box">
                    <img src="../assets/img/about_1.png" alt="Tea">
                </div>
            </div>
            <div class="about__item">
                <div class="body-text">
                    <p>Чому варто обрати саме наш магазин?
                        Наш інтернет-магазин чаю — це не просто місце, де ви можете придбати чай. Це справжній портал до світу вишуканих ароматів і незабутніх смакових відчуттів. Кожна упаковка чаю, яку ви знайдете у нас, має свою унікальну історію та відрізняється високою якістю, що ми ретельно контролюємо на кожному етапі.</p>
                </div>
                <div class="about__image-box">
                    <img src="../assets/img/about_2.png" alt="Tea">
                </div>
            </div>
        </div>
    </div>
</section>