<section id="basket__section">
    <div class="basket__header">
        <h2 class="basket__text">Кошик</h2>
    </div>
    <div class="basket__data">
        <div class="basket__products">
            
        </div>
        <div class="basket__order">

            <button type="button" class="">Оформити замовлення</button>
            <button type="button" class="">Продовжити покупки</button>
        </div>
    </div>
    <div class="basket__footer">
        <h2 class="basket__text">Схожі товари</h2>
        <div class="basket__same-products">

        </div>
    </div>
</section>