<section class="page__catalog catalog">
   <div class="catalog__container">
      <div class="catalog__title section-title">Каталог</div>
      <div class="catalog__sidebar">
         <div class="catalog__price">
            <div class="catalog__price-title body-text">Ціна</div>
            <div class="catalog__price-slider" id="price-slider">
               <div id="min-value" class="catalog__price-tooltip-min"></div>
               <div id="max-value" class="catalog__price-tooltip-max"></div>
            </div>

         </div>
         <div class="catalog__checkbox card-text">
            <h4 class="catalog__checkbox-title active">Вид</h4>
            <div class="catalog__checkbox-content active">
               <input type="checkbox" class="catalog__checkbox-item" id="type-black-tea">
               <label class="catalog__checkbox-label" for="type-black-tea">
                  <p class="catalog__checkbox-text">Чорний</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="type-green-tea">
               <label class="catalog__checkbox-label" for="type-green-tea">
                  <p class="catalog__checkbox-text">Зелений</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="type-herbal-tea">
               <label class="catalog__checkbox-label" for="type-herbal-tea">
                  <p class="catalog__checkbox-text">Трав'яний</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="type-fruit-tea">
               <label class="catalog__checkbox-label" for="type-fruit-tea">
                  <p class="catalog__checkbox-text">Фруктовий</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="type-white-tea">
               <label class="catalog__checkbox-label" for="type-white-tea">
                  <p class="catalog__checkbox-text">Білий</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="type-puer-tea">
               <label class="catalog__checkbox-label" for="type-puer-tea">
                  <p class="catalog__checkbox-text">Пуер</p>
               </label>
            </div>

         </div>
         <div class="catalog__checkbox card-text">
            <h4 class="catalog__checkbox-title">Форма листя</h4>

            <div class="catalog__checkbox-content">

               <input type="checkbox" class="catalog__checkbox-item" id="leaf-loose-tea">
               <label class="catalog__checkbox-label" for="leaf-loose-tea">
                  <p class="catalog__checkbox-text">Розсипний</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="leaf-presed-tea">
               <label class="catalog__checkbox-label" for="leaf-presed-tea">
                  <p class="catalog__checkbox-text">Пресований</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="leaf-bound-tea">
               <label class="catalog__checkbox-label" for="leaf-bound-tea">
                  <p class="catalog__checkbox-text">Зв'язаний</p>
               </label>

            </div>

         </div>
         <div class="catalog__checkbox card-text">
            <h4 class="catalog__checkbox-title">Країна</h4>

            <div class="catalog__checkbox-content">

               <input type="checkbox" class="catalog__checkbox-item" id="country-china-tea">
               <label class="catalog__checkbox-label" for="country-china-tea">
                  <p class="catalog__checkbox-text">Китай</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="country-india-tea">
               <label class="catalog__checkbox-label" for="country-india-tea">
                  <p class="catalog__checkbox-text">Індія</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="country-brazil-tea">
               <label class="catalog__checkbox-label" for="country-brazil-tea">
                  <p class="catalog__checkbox-text">Бразилія</p>
               </label>
               <input type="checkbox" class="catalog__checkbox-item" id="country-japan-tea">
               <label class="catalog__checkbox-label" for="country-japan-tea">
                  <p class="catalog__checkbox-text">Японія</p>
               </label>
               <input type="checkbox" class="catalog__checkbox-item" id="country-srilanka-tea">
               <label class="catalog__checkbox-label" for="country-srilanka-tea">
                  <p class="catalog__checkbox-text">Шрі Ланка</p>
               </label>
            </div>
         </div>
         <div class="catalog__checkbox card-text">
            <h4 class="catalog__checkbox-title">Властивості</h4>

            <div class="catalog__checkbox-content">

               <input type="checkbox" class="catalog__checkbox-item" id="properties-1">
               <label class="catalog__checkbox-label" for="properties-1">
                  <p class="catalog__checkbox-text">Властивість 1</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="properties-2">
               <label class="catalog__checkbox-label" for="properties-2">
                  <p class="catalog__checkbox-text">Властивість 2</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="properties-3">
               <label class="catalog__checkbox-label" for="properties-3">
                  <p class="catalog__checkbox-text">Властивість 3</p>
               </label>
            </div>
         </div>
         <div class="catalog__checkbox card-text">
            <h4 class="catalog__checkbox-title">Компоненти</h4>

            <div class="catalog__checkbox-content">

               <input type="checkbox" class="catalog__checkbox-item" id="components-1">
               <label class="catalog__checkbox-label" for="components-1">
                  <p class="catalog__checkbox-text">Компонент 1</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="components-2">
               <label class="catalog__checkbox-label" for="components-2">
                  <p class="catalog__checkbox-text">Компонент 2</p>
               </label>

               <input type="checkbox" class="catalog__checkbox-item" id="components-3">
               <label class="catalog__checkbox-label" for="components-3">
                  <p class="catalog__checkbox-text">Компонент 3</p>
               </label>
            </div>
         </div>
      </div>
      <div class="catalog__grid">
         <div class="catalog__sorting">
            <span>Популярні</span>
            <div class="catalog__sorting-dropdown">
               <a href="" class="catalog__sorting-item">Дешевші</a>
               <a href="" class="catalog__sorting-item">Дорожчі</a>
               <a href="" class="catalog__sorting-item">Зі знижкою</a>
               <a href="" class="catalog__sorting-item">Новинки</a>
            </div>
         </div>

         <div class="catalog__card-goods" id="productContainer">
            <figure class="card-goods__img">
               <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
            </figure>
            <div class="card-goods__content">
               <h3 class="card-goods__title">Назва</h3>
               <div class="card-goods__icons icons-card">
                  <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                     <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                  </button>
                  <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                     <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                  </button>
               </div>
               <p class="card-goods__weight">50 гр</p>
               <p class="card-goods__price">145 грн</p>
            </div>
            </a>
            <a href="#" class="card-goods">
               <figure class="card-goods__img">
                  <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
               </figure>
               <div class="card-goods__content">
                  <h3 class="card-goods__title">Назва</h3>
                  <div class="card-goods__icons icons-card">
                     <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                        <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                     </button>
                     <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                        <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                     </button>
                  </div>
                  <p class="card-goods__weight">50 гр</p>
                  <p class="card-goods__price">145 грн</p>
               </div>
            </a>
            <a href="#" class="card-goods">
               <figure class="card-goods__img">
                  <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
               </figure>
               <div class="card-goods__content">
                  <h3 class="card-goods__title">Назва</h3>
                  <div class="card-goods__icons icons-card">
                     <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                        <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                     </button>
                     <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                        <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                     </button>
                  </div>
                  <p class="card-goods__weight">50 гр</p>
                  <p class="card-goods__price">145 грн</p>
               </div>
            </a>
            <a href="#" class="card-goods">
               <figure class="card-goods__img">
                  <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
               </figure>
               <div class="card-goods__content">
                  <h3 class="card-goods__title">Назва</h3>
                  <div class="card-goods__icons icons-card">
                     <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                        <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                     </button>
                     <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                        <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                     </button>
                  </div>
                  <p class="card-goods__weight">50 гр</p>
                  <p class="card-goods__price">145 грн</p>
               </div>
            </a>
            <a href="#" class="card-goods">
               <figure class="card-goods__img">
                  <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
               </figure>
               <div class="card-goods__content">
                  <h3 class="card-goods__title">Назва</h3>
                  <div class="card-goods__icons icons-card">
                     <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                        <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                     </button>
                     <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                        <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                     </button>
                  </div>
                  <p class="card-goods__weight">50 гр</p>
                  <p class="card-goods__price">145 грн</p>
               </div>
            </a>
            <a href="#" class="card-goods">
               <figure class="card-goods__img">
                  <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
               </figure>
               <div class="card-goods__content">
                  <h3 class="card-goods__title">Назва</h3>
                  <div class="card-goods__icons icons-card">
                     <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                        <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                     </button>
                     <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                        <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                     </button>
                  </div>
                  <p class="card-goods__weight">50 гр</p>
                  <p class="card-goods__price">145 грн</p>
               </div>
            </a> -->
         </div>
      </div>
      <div id="paginationContainer" class="body-text body-text--second"></div>
   </div>
</section>