<section class="delivery">
    <div class="special-container delivery__container">
        <div class="delivery__row">
        <h3 class="title title-decor delivery__title">На нашому сайті ви можете обрати зручний спосіб доставки вашого улюбленого чаю</h3>
            <ul class="delivery__list">
                <li class=" body-text delivery__list-text delivery__list-item">
                    <img class="delivery__list-img" src="../assets/img/delivery_1.png" alt="Nova Post Logo">
                    Нова Пошта — доставка до відділень Нової Пошти по всій Україні. Термін доставки складає 1-3 дні залежно від регіону.
                </li>
                <li class=" body-text delivery__list-text delivery__list-item">
                    <img class="delivery__list-img" src="../assets/img/delivery_2.png" alt="Ukr Post Logo">
                    Укрпошта — економний варіант доставки до відділень Укрпошти по всій країні.
                </li>
                <li class=" body-text delivery__list-text delivery__list-item">
                    <img class="delivery__list-img" src="../assets/img/delivery_3.png" alt="Courier">
                    Кур'єрська доставка по Києву — швидка та зручна доставка кур'єром прямо до вашого дому лише в межах Києва.
                </li>
            </ul>
        </div>
    </div>
</section>