<section class="feedback-page feedback">
    <div class="feedback__container">
        <h3 class="section-title feedback__title">Відгуки</h3>
        <div class="swiper feedback__swiper">
            <div class="swiper-wrapper feedback__wrapper">
                <div class="swiper-slide slide">
                    <div class="slide__content">
                        <span class="body-text body-text--second slide__name">Олександр</span>
                        <div class="star-row slide__stars">
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-empty slide__star-empty"></span>
                        </div>
                        <div class="body-text body-text--second slide__text">
                            <p>"Неймовірний вибір чаю! Замовляю вже вдруге, і кожен сорт вражає своїм смаком. Особливо сподобався зелений чай з м'ятою — дуже освіжає!"</p>
                        </div>
                    </div>
                    <div class="slide__image-box">
                        <img class="slide__photo" src="../assets/img/feedback_1.png" alt="User photo">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="slide__content">
                        <span class="body-text body-text--second slide__name">Олеся</span>
                        <div class="star-row slide__stars">
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-empty slide__star-empty"></span>
                        </div>
                        <div class="body-text body-text--second slide__text">
                            <p>"Неймовірний вибір чаю! Замовляю вже вдруге, і кожен сорт вражає своїм смаком. Особливо сподобався зелений чай з м'ятою — дуже освіжає!"</p>
                        </div>
                    </div>
                    <div class="slide__image-box">
                        <img class="slide__photo" src="../assets/img/feedback_2.png" alt="User photo">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="slide__content">
                        <span class="body-text body-text--second slide__name">Олександр</span>
                        <div class="star-row slide__stars">
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-full slide__star-full"></span>
                            <span class="star-item star-empty slide__star-empty"></span>
                        </div>
                        <div class="body-text body-text--second slide__text">
                            <p>"Неймовірний вибір чаю! Замовляю вже вдруге, і кожен сорт вражає своїм смаком. Особливо сподобався зелений чай з м'ятою — дуже освіжає!"</p>
                        </div>
                    </div>
                    <div class="slide__image-box">
                        <img class="slide__photo" src="../assets/img/feedback_1.png" alt="User photo">
                    </div>
                </div>
            </div>  
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>