<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <nav class="footer__help">
                <h3 class="footer__subtitle">Допомога</h3>
                <ul class="footer__menu">
                    <li class="footer__link"><a class="footer__link-item" href="#">Доставка</a></li>
                    <li class="footer__link"><a class="footer__link-item" href="#">Оплата</a></li>
                    <li class="footer__link"><a class="footer__link-item" href="#">Політика конфіденційності</a></li>
                    <li class="footer__link"><a class="footer__link-item" href="#">Обмін та повернення</a></li>
                </ul>
            </nav>
            <nav class="footer__pages">
                <h3 class="footer__subtitle">Для вас</h3>
                <ul class="footer__menu">
                    <li class="footer__link"><a class="footer__link-item" href="#">Каталог</a></li>
                    <li class="footer__link"><a class="footer__link-item" href="#">Новинки</a></li>
                    <li class="footer__link"><a class="footer__link-item" href="#">Про нас</a></li>
                </ul>
            </nav>
            <div class="footer__input">
                <div class="footer__input-box">
                    <label for="">Підписатись на розсилку</label>
                    <input type="text">
                </div>
                <div class="footer__input-box">
                    <label for="">Залишити відгук</label>
                    <input type="text">
                </div>
            </div>
        </div>
        <span class="footer__rights">© Tea store. Всі права захищені </span>
    </div>
</footer>
    <script async src="assets/js/custom.js"></script>
</body>
</html>