<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Tea store</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <a href="./markup.html" style="color: black; position: fixed; left: 20px; bottom: 40px; z-index: 100;">markup</a>
    <!DOCTYPE html>
    <html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#188de7">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>Сборка Markup</title>

        <link rel="stylesheet" type="text/css" href="style.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/wNumb/1.1.0/wNumb.min.css" rel="stylesheet">


    </head>

    <body>
        <a href="./markup.html" style="color: black; position: fixed; left: 20px; bottom: 40px;">markup</a>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wNumb/1.1.0/wNumb.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>


    </body>

    </html>