<section class="advantages advantages-page">
    <div class="advantages__container">
        <div class="advantages__row">
            <div class="advantages__item">
                <div class="advantages__img-box">
                    <img src="../assets/img/main_goods_1.png" alt="Tea image">
                </div>
                <div class="small-text advantages__text">
                    <p>Без штучних пестицидів та добрив</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__img-box">
                    <img src="../assets/img/main_goods_1.png" alt="Tea image">
                </div>
                <div class="small-text advantages__text">
                    <p>Сталі практики ведення сільського господарства</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__img-box">
                    <img src="../assets/img/main_goods_1.png" alt="Tea image">
                </div>
                <div class="small-text advantages__text">
                    <p>Багатий антиоксидантами та поживними речовинами</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__img-box">
                    <img src="../assets/img/main_goods_1.png" alt="Tea image">
                </div>
                <div class="small-text advantages__text">
                    <p>10 років безумовної довіри</p>
                </div>
            </div>
        </div>
    </div>
</section>