<section class="hero-page hero">
    <div class="swiper hero__swiper">
        <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide slide">
                <div class="slide__img-box">
                    <img class="slide__img" src="../assets/img/main_hero_1.png" alt="Main img">
                </div>
                <div class="slide__container">
                    <div class="slide__content">
                        <h1 class="slide__title">Tea store</h1>
                        <h2 class="title subtitle slide__subtitle">Відкрийте для себе світ справжнього чаю!</h2>
                        <div class="body-text slide__text">
                            <p>Насолоджуйтесь найкращими сортами чаю з усього світу, створеними для вашого затишку та натхнення.</p>
                        </div>
                        <a href="#" class="btn slide__btn">Перейти в каталог</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="slide__img-box">
                    <img class="slide__img" src="../assets/img/main_hero_2.png" alt="Main img">
                </div>
                <div class="slide__container">
                    <div class="slide__content">
                        <h1 class="slide__title-second"><span>Новинка!</span> Чай зі смаком глінтвейну</h1>
                        <h2 class="title subtitle slide__subtitle">Відкрийте для себе світ справжнього чаю!</h2>
                        <div class="body-text body-text--second slide__text">
                            <p>Зігрійтеся в прохолодні осінні дні чарівним поєднанням спецій і фруктів. Ідеальний напій для затишних вечорів!</p>
                        </div>
                        <a href="#" class="btn slide__btn">Перейти в каталог</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide slide__third">
                <div class="slide__img-box">
                    <img class="slide__img" src="../assets/img/main_hero_3.png" alt="Main img">
                </div>
                <div class="slide__container">
                    <div class="slide__content">
                        <h1 class="slide__title">Тепла осінь з нами!</h1>
                        <div class="body-text slide__text">
                            <p>Час загорнутися у ковдру з чашкою ароматного чаю! Осінні смаки вже чекають на вас зі знижкою 20%</p>
                            <p><span>Акція діє до кінця осіні!</span></p>
                        </div>
                        <a href="#" class="btn slide__btn">Перейти в каталог</a>
                    </div>
                    <img class="slide__image-additoional" src="../assets/img/main_hero_3_element.png" alt="Discount image">
                </div>
            </div>
        </div>  
        <div class="swiper-pagination"></div>
    </div>
</section>