<section class="about-page about">
    <div class="about__container">
        <h3 class="section-title about__title">Про нас або чайна філософія</h3>
        <div class="about__row">
            <div class="about__image-box">
                <img class="about__image" src="../assets/img/main_about_1.png" alt="Tea field">
            </div>
            <div class="body-text about__text">
                <p>"Як чайні листки повільно дозрівають під сонцем, так і кожен наш день — це результат терпіння та праці. Важливо не поспішати, а з любов'ю збирати плоди своїх зусиль, щоб кожен момент життя мав свій глибокий смак і аромат."</p>
            </div>
        </div>
    </div>
</section>