<section class="page-goods goods">
    <div class="goods__container">
        <h3 class="section-title goods__title">Розділи продуктів</h3>
        <div class="goods__row">
            <a class="goods__item" href="#">
                <span class="goods__name">Чорний чай</span>
                <img class="goods__image" src="../assets/img/main_goods_1.png" alt="Black tea">
            </a>
            <a class="goods__item" href="#">
                <span class="goods__name">Зелений чай</span>
                <img class="goods__image" src="../assets/img/main_goods_5.png" alt="Green tea">
            </a>
            <a class="goods__item" href="#">
                <span class="goods__name">Травʼяний чай</span>
                <img class="goods__image" src="../assets/img/main_goods_3.png" alt="Herbal tea">
            </a>
            <a class="goods__item" href="#">
                <span class="goods__name">Фруктовий чай</span>
                <img class="goods__image" src="../assets/img/main_goods_4.png" alt="Fruit tea">
            </a>
            <a class="goods__item" href="#">
                <span class="goods__name">Білий чай</span>
                <img class="goods__image" src="../assets/img/main_goods_5.png" alt="White tea">
            </a>
            <a class="goods__item" href="#">
                <span class="goods__name">Пуер</span>
                <img class="goods__image" src="../assets/img/main_goods_6.png" alt="Puer">
            </a>
        </div>
    </div>
</section>