<section class="page-popular popular">
    <div class="popular__container">
        <h3 class="section-title popular__title">Популярні</h3>
        <div class="popular__row">
            <a href="#" class="product-item popular__item">
                <span class="product-name popular__name">Східна Тиша</span>
                <img class="product-image popular__image" src="../assets/img/main_popular_1.png" alt="Eastern Silence">
            </a>
            <a href="#" class="product-item popular__item">
                <span class="product-name popular__name">Вітер Бамбуку</span>
                <img class="product-image popular__image" src="../assets/img/main_popular_2.png" alt="Bamboo Wind">
            </a>
            <a href="#" class="product-item popular__item">
                <span class="product-name popular__name">Ягідний Вибух</span>
                <img class="product-image popular__image" src="../assets/img/main_popular_3.png" alt="Berry Explosion">
            </a>
            <a href="#" class="product-item popular__item">
                <span class="product-name popular__name">Пряний Схід</span>
                <img class="product-image popular__image" src="../assets/img/main_popular_4.png" alt="Spicy East">
            </a>
        </div>
    </div>
</section>