<section class="make-hero">
  <div class="make-hero__container">
    <div class="make-hero__content">
      <h1 class="title-decor make-hero__title">Зроби сам</h1>
      <div class="body-text make-hero__text">
        <p>Тут ви можете створити свій ідеальний набір чаю. Додайте до своєї колекції улюблені аромати, експериментуйте з новими смаками та додайте оригінальне подарункове пакування для особливих моментів. Створіть неповторний чайний набір для себе або на подарунок – усе під ваш настрій і вподобання!</p>
      </div>
    </div>
  </div>
  <img class="make-hero__background" src="" alt="">
</section>