<section class="make-body">
  <div class="make-body__container">
    <div class="make-body__progress">
      <div class="make-body__progress--item"></div>
    </div>
    <div class="body-text make-body__text">
      <p>Почніть створення свого ідеального чаю з вибору основи – чайного листя. Від класичних чорних і зелених сортів до вишуканого улуну чи білого чаю, кожен вид має свій унікальний аромат та смак. Оберіть той, що стане основою вашого особистого чайного шедевру!</p>
    </div>
    <div class="make-body__catalog">
      <div class="make-body__catalog--item">
        <div class="make-body__catalog--image">
          <img src="../assets/img/make-body__1.jpg" alt="Image">
        </div>
        <h5 class="small-text make-body__catalog--title">Зелений чай</h5>
      </div>
      <div class="make-body__catalog--item">
        <div class="make-body__catalog--image">
          <img src="../assets/img/make-body__2.jpeg" alt="Image">
        </div>
        <h5 class="small-text make-body__catalog--title">Чорний чай</h5>
      </div>
      <div class="make-body__catalog--item">
        <div class="make-body__catalog--image">
          <img src="../assets/img/make-body__3.jpg" alt="Image">
        </div>
        <h5 class="small-text make-body__catalog--title">Улун</h5>
      </div>
      <div class="make-body__catalog--item">
        <div class="make-body__catalog--image">
          <img src="../assets/img/make-body__4.jpg" alt="Image">
        </div>
        <h5 class="small-text make-body__catalog--title">Білий чай</h5>
      </div>
      <div class="make-body__catalog--item">
        <div class="make-body__catalog--image">
          <img src="../assets/img/make-body__5.jpg" alt="Image">
        </div>
        <h5 class="small-text make-body__catalog--title">Пуер</h5>
      </div>
    </div>
    <div class="make-body__image">
      <img src="../assets/img/make-body__6.jpg" alt="Tea">
    </div>
    <div class="make-body__button--row">
      <a href="#" class="btn make-body__button">Продовжити</a>
    </div>
  </div>
</section>