<section class="markup-page markup">
    <div class="container">
    <div class="markup__element">
        <h2 class="markup__title">Colors</h2>
        <div class="markup__column color">
                <div class="color__item">
                    <div class="color__view color__view-1"></div>
                    <span class="color__name">$color_green-main: #D0EDC4;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-2"></div>
                    <span class="color__name">$color_green-secondary: #99C487;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-3"></div>
                    <span class="color__name">$color_green-additional: #1E4A0D;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-4"></div>
                    <span class="color__name">$color_white: #ffffff;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-5"></div>
                    <span class="color__name">$color_black: #414141;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-6"></div>
                    <span class="color__name">$color_beige: #FCF2E2;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-7"></div>
                    <span class="color__name">$color_khaki: #847D52;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-8"></div>
                    <span class="color__name">$color_error: #DB1B1B;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-9"></div>
                    <span class="color__name">$color_disable: #CDCBC9;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-10"></div>
                    <span class="color__name">$color_disable-secondary: #EFECEC;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-11"></div>
                    <span class="color__name">$color_gradient: linear-gradient(180deg, #d0edc4 0%, #86aa78 100%);</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-12"></div>
                    <span class="color__name">$color_gradient-secondary: linear-gradient(90deg, #1e4a0d 0%, #99c487 100%);</span>
                </div>
        </div>
    </div>
    </div>
</section>