<section class="markup-page markup">
    <div class="markup__container">
        <div class="markup__element color__element">
            <h2 class="markup__title">Colors</h2>
            <div class="markup__column color">
                <div class="color__item">
                    <div class="color__view color__view-1"></div>
                    <span class="color__name">$color_green-main: #D0EDC4;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-2"></div>
                    <span class="color__name">$color_green-secondary: #99C487;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-3"></div>
                    <span class="color__name">$color_green-additional: #1E4A0D;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-3_1"></div>
                    <span class="color__name">$color_green-accent: #34C357;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-3_2"></div>
                    <span class="color__name">$color_green-bg: #A6B3A1;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-4"></div>
                    <span class="color__name">$color_white: #ffffff;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-5"></div>
                    <span class="color__name">$color_black: #414141;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-6"></div>
                    <span class="color__name">$color_beige: #FCF2E2;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-7"></div>
                    <span class="color__name">$color_khaki: #847D52;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-8"></div>
                    <span class="color__name">$color_orange: #F48726;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-8_2"></div>
                    <span class="color__name">$color_yellow: #FFE45F;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-9"></div>
                    <span class="color__name">$color_grey: #A2A2A2;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-10"></div>
                    <span class="color__name">$color_error: #DB1B1B;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-11"></div>
                    <span class="color__name">$color_disable: #CDCBC9;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-12"></div>
                    <span class="color__name">$color_disable-secondary: #EFECEC;</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-13"></div>
                    <span class="color__name">$color_gradient: linear-gradient(180deg, #d0edc4 0%, #86aa78 100%);</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-14"></div>
                    <span class="color__name">$color_gradient-secondary: linear-gradient(90deg, #1e4a0d 0%, #99c487
                        100%);</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-15"></div>
                    <span class="color__name">$color_gradient-additional: linear-gradient(90deg, #34c357 0%, #339580
                        34.5%, #22e165 100%);</span>
                </div>
                <div class="color__item">
                    <div class="color__view color__view-16"></div>
                    <span class="color__name">$color_gradient-orange: linear-gradient(180deg, #ffa250 0%, #8c1b1b 100%);</span>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Titles</h2>
            <div class="markup__column titles">
                <div class="titles__item">
                    <h2 class="title">Розділи продуктів</h2>
                    <span>40px / montserrat / .title</span>
                </div>
                <div class="titles__item">
                    <h2 class="title subtitle">Відкрийте для себе світ справжнього чаю!</h2>
                    <span>36px / montserrat / .subtitle</span>
                </div>
                <div class="titles__item">
                    <h3 class="title label">Допомога</h3>
                    <span>20px / montserrat / .label</span>
                </div>
                <div class="titles__item">
                    <h3 class="title label">Підписатись на розсилку</h3>
                    <span>20px / montserrat / .label</span>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Text</h2>
            <div class="markup__column text">
                <div class="text__item">
                    <h2 class="section-title">Section Title (h3)</h2>
                    <span>40px / montserrat / .section-title</span>
                </div>
                <div class="text__item">
                    <h2 class="body-text">Body Text</h2>
                    <span>30px / montserrat / .body-text</span>
                </div>
                <div class="text__item">
                    <h3 class="body-text body-text--second">Body Text #2</h3>
                    <span>20px / montserrat / .body-text body-text--second</span>
                </div>
                <div class="text__item">
                    <h3 class="card-text">Card Text</h3>
                    <span>20px / montserrat / .card-text</span>
                </div>
                <div class="text__item">
                    <h3 class="small-text">Small Text</h3>
                    <span>16px / montserrat / .small-text</span>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Buttons</h2>
            <div class="markup__column buttons">
                <div class="buttons__item">
                    <a href="#" class="btn">Перейти в каталог</a>
                </div>
                <div class="buttons__item">
                    <a href="#" class="btn btn-outline">Перейти в каталог</a>
                </div>
                <div class="buttons__item">
                    <a href="#" class="btn btn-small">Оплатити</a>
                </div>
                <div class="buttons__item">
                    <a href="#" class="btn btn-big">Оформити замовлення</a>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Товар - посилання</h2>
            <div class="markup__column">
                <a href="#" class="product-item">
                    <span class="product-name">Пряний Схід</span>
                    <img class="product-image" src="../assets/img/main_popular_4.png" alt="Product">
                </a>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Stars</h2>
            <div class="markup__column">
                <div class="star-row">
                    <span class="star-item star-full"></span>
                    <span class="star-item star-full"></span>
                    <span class="star-item star-full"></span>
                    <span class="star-item star-full"></span>
                    <span class="star-item star-empty"></span>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Inputs</h2>
            <div class="markup__column inputs">
                <div class="inputs__item">
                    <div class="input__box">
                        <label class="input__icon" for="input">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 10.5V15.5C22 19 20 20.5 17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H14"
                                    stroke="#99C487" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M7 9L10.13 11.5C11.16 12.32 12.85 12.32 13.88 11.5L15.06 10.56" stroke="#99C487"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M19.5 8C20.8807 8 22 6.88071 22 5.5C22 4.11929 20.8807 3 19.5 3C18.1193 3 17 4.11929 17 5.5C17 6.88071 18.1193 8 19.5 8Z"
                                    stroke="#99C487" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </label>
                        <input type="text" class="input" id="input" placeholder="Електронна адреса">
                    </div>
                </div>
                <div class="inputs__item">
                    <div class="input__box">
                        <label class="input__icon" for="input_1">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.50978 4.22989L18.0698 8.50989C21.9098 10.4299 21.9098 13.5699 18.0698 15.4899L9.50978 19.7699C3.74978 22.6499 1.39978 20.2899 4.27978 14.5399L5.14978 12.8099C5.36978 12.3699 5.36978 11.6399 5.14978 11.1999L4.27978 9.45989C1.39978 3.70989 3.75978 1.34989 9.50978 4.22989Z"
                                    stroke="#99C487" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M5.43994 12H10.8399" stroke="#99C487" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </label>
                        <input type="text" class="input" id="input_1">
                    </div>
                </div>
                <div class="inputs__item"></div>
                <div class="input-order__box">
                    <lable class="input-order__title" for="input-order">Ім'я та прізвище</lable>
                    <input type="text" class="input-order" id="name-input" placeholder="Ірина">
                </div>
            </div>
            <div class="inputs__item">
                <div class="input-profile__item">
                    <lable class="input-profile__title" for="input-profile">Ім'я</lable>
                    <div class="input-profile__box">
                        <input type="text" class="input-profile" id="profile-name" value="Ірина">
                        <button type="reset" class="input-profile__btn">Змінити</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="markup__element-check">
            <h2 class="markup__title">Radio, checkbox</h2>
            <div class="markup__column">
                <div class="radio__box">
                    <input type="radio" class="radio" id="radio_1">
                    <label class="radio__text" for="radio">Оплата у відділенні нової пошти</label>
                </div>
            </div>
        </div>
        <div class="markup__element">
            <h2 class="markup__title">Goods Card</h2>
            <article class="markup__column card-goods">
                <figure class="card-goods__img">
                    <picture>
                        <source srcset="../assets/img/card_black-tea.webp" type="image/webp">
                        <source srcset="../assets/img/card_black-tea.jpg" type="image/jpeg">
                        <img src="../assets/img/card_black-tea.jpg" alt="Чорний чай">
                    </picture>
                </figure>
                <div class="card-goods__content">
                    <h3 class="card-goods__title">Назва</h3>
                    <div class="card-goods__icons icons-card">
                        <button class="card-goods__icon-like" aria-label="Додати до улюблених">
                            <img src="../assets/img/card_like.svg" alt="Значок улюбленого" />
                        </button>
                        <button class="card-goods__icon-cart" aria-label="Додати в кошик">
                            <img src="../assets/img/card_cart.svg" alt="Значок кошика" />
                        </button>
                    </div>
                    <p class="card-goods__weight">50 гр</p>
                    <p class="card-goods__price">145 грн</p>
                </div>
            </article>
            <div class="markup__column card-order">
                <div class="card-order__img">
                    <a href="#" class="card-order__link"><img src="../assets/img/card_black-tea.jpg" alt=""
                            class="card-order__img"></a>
                </div>
                <div class="card-order__characteristic">
                    <div class="card-order__top">
                        <h2 class="card-order__title"><a class="card-order__link" href="#">Продукт</a></h2>
                        <div class="card-order__price">200 грн</div>
                    </div>
                    <div class="card-order__bot">
                        <div class="card-order__box">
                            <button class="card-order__add">-</button>
                            <span class="card-order__quantity" id="card-order__quantity-1">1</span>
                            <button class="card-order__add">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-order__delete">
                    <button type="button" class="card-order__btn">
                        <img src="../assets/img/trash.svg" alt="" class="card-order__btn card-order__trash">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>