<!-- Модальне вікно для зміни імені -->
<div id="modal-name" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Вкажіть нові дані профілю</h2>
        <input type="text" id="new-firstname" class="modal-input" placeholder="Введіть ім'я">
        <input type="text" id="new-lastname" class="modal-input" placeholder="Введіть прізвище">
        <button class="saveChanges" data-input="profile-name">Зберегти</button>
    </div>
</div>

<!-- Модальне вікно для зміни телефону -->
<div id="modal-number" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Вкажіть номер, який бажаєте прив'язати</h2>
        <input type="text" id="new-phone" class="modal-input" placeholder="Введіть телефон">
        <button class="saveChanges" data-input="profile-phone">Зберегти</button>
    </div>
</div>

<!-- Модальне вікно для зміни email -->
<div id="modal-email" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Вкажіть нову пошту</h2>
        <input type="email" id="new-email" class="modal-input" placeholder="Введіть email">
        <button class="saveChanges" data-input="profile-email">Зберегти</button>
    </div>
</div>

<!-- Модальне вікно для зміни віку -->
<div id="modal-age" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Вкажіть новий вік</h2>
        <input type="number" id="new-age" class="modal-input" placeholder="Введіть вік">
        <button class="saveChanges" data-input="profile-age">Зберегти</button>
    </div>
</div>