<section class="order__container">
    <h2 class="order__title">Персональні дані</h2>
    <div class="products__summary">
        <div class="products">
            <div class="card-order">
                <div class="card-order__img">
                    <a href="#" class="card-order__link"><img src="../assets/img/card_black-tea.jpg" alt=""
                            class="card-order__img"></a>
                </div>
                <div class="card-order__characteristic">
                    <div class="card-order__top">
                        <h2 class="card-order__title"><a class="card-order__link" href="#">Продукт</a></h2>
                        <div class="card-order__price">200 грн</div>
                    </div>
                    <div class="card-order__bot">
                        <div class="card-order__box">
                            <button class="card-order__add">-</button>
                            <span class="card-order__quantity" id="card-order__quantity-1">1</span>
                            <button class="card-order__add">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-order__delete">
                    <button type="button" class="card-order__btn">
                        <img src="../assets/img/trash.svg" alt="" class="card-order__trash">
                    </button>
                </div>
            </div>
            <div class="card-order">
                <div class="card-order__img">
                    <a href="#" class="card-order__link"><img src="../assets/img/card_black-tea.jpg" alt=""
                            class="card-order__img"></a>
                </div>
                <div class="card-order__characteristic">
                    <div class="card-order__top">
                        <h2 class="card-order__title"><a class="card-order__link" href="#">Продукт</a></h2>
                        <div class="card-order__price">200 грн</div>
                    </div>
                    <div class="card-order__bot">
                        <div class="card-order__box">
                            <button class="card-order__add">-</button>
                            <span class="card-order__quantity" id="card-order__quantity-1">1</span>
                            <button class="card-order__add">+</button>
                        </div>
                    </div>
                </div>
                <div class="card-order__delete">
                    <button type="button" class="card-order__btn">
                        <img src="../assets/img/trash.svg" alt="" class="card-order__trash">
                    </button>
                </div>
            </div>
        </div>
        <div class="order">
            <div class="order__products">
                <div class="order__summ">
                    <div class="order__text">Сума замовлення:</div>
                    <div class="order__text order__price" id="products__summ">365 грн</div>
                </div>
                <div class="order__summ">
                    <div class="order__text">Доставка:</div>
                    <div class="order__text order__price" id="delivery">70 грн</div>
                </div>
            </div>
            <div class="order__summ">
                <div class="order__text order__result">Загальна сума:</div>
                <div class="order__text order__price order__result" id="order__summ">435 грн</div>
            </div>
        </div>
    </div>
    <form action="" class="order__form">
        <div class="input-order__box">
            <lable class="input-order__title" for="input-order">Ім'я та прізвище</lable>
            <input type="text" class="input-order" id="name-input" placeholder="Ірина Філімоненко">
            <div class="input-order__error">Ім'я та прізвище не введено</div>
        </div>
        <div class="input-order__box">
            <lable class="input-order__title" for="input-order">Номер телефону</lable>
            <input type="text" class="input-order" id="phone_input" placeholder="380 68 119 45 56">
            <div class="input-order__error">Номер телефону введено не коректно</div>
        </div>
        <div class="input-order__box">
            <lable class="input-order__title" for="input-order">Електронна пошта</lable>
            <input type="text" class="input-order" id="email-input" type="email" placeholder="tea.store@gmail.com">
            <div class="input-order__error">Електронна пошта введена не коректно</div>
        </div>
        <div class="order__or">
            або
        </div>
        <div class="buttons__item">
            <a href="#" class="btn btn-big">Увійти в профіль</a>
        </div>
        <div class="order__delivery">
            <h2 class="order__deliverytitle">Доставка</h2>
            <div class="order__deldetails">
                <div class="order__formadd">
                    <div class="input-order__box">
                        <lable class="input-order__title" for="input-order">Місто</lable>
                        <input type="text" class="input-order" id="city-input" placeholder="Київ">
                    </div>
                    <div class="input-order__box">
                        <label class="input-order__title" for="select">Варіанти доставки</label>
                        <div class="select__custom">
                            <div class="select__container">
                                <div class="select" id="select">Відділення Нової пошти</div>
                                <button type="button" class="arrow">
                                    <img src="../assets/img/arrow-down.svg" alt="Arrow Icon" class="arrow__icon" />
                                </button>
                                <div class="option__list option__hidden">
                                    <div class="option" data-value="nova-poshta">Відділення Нової пошти</div>
                                    <div class="option" data-value="ukr-poshta">Доставка Укр поштою</div>
                                    <div class="option" data-value="pickup">Самовивіз</div>
                                    <div class="option" data-value="courier">Кур'єрська доставка</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-order__box">
                        <lable class="input-order__title" for="input-order">Відділення</lable>
                        <input type="text" class="input-order" id="name-input" placeholder="Київ, відділення НП №1">
                    </div>
                </div>
                <div class="order__additional">
                    <div class="order__comment">
                        <button type="button" class="order__addcomment">
                            <img src="../assets/img/add.svg" alt="com" class="order__addcomment">
                        </button>
                        <div class="order__comenttext">Додати коментар до замовлення</div>
                    </div>
                    <div class="order__comment">
                        <input type="checkbox" name="" id="order__call" class="order__call">
                        <div class="order__comenttext">Мені можна зателефонувати для<br>підтвердження замовлення.</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn" type="button">Продовжити</button>
    </form>
</section>