<section class="payment">
    <div class="special-container payment__container">
        <div class="payment__row">
            <h3 class="title title-decor payment__title">Ми пропонуємо декілька зручних способів оплати для вашого замовлення:</h3>
            <div class="payment__content">
                <div class="payment__content-item">
                    <h4 class="body-text payment__content-subtitle">Оплата у відділенні Нової Пошти</h4>
                    <div class="body-text body-text--second payment__content-text">
                        <p>Ви можете оплатити своє замовлення після отримання у відділенні Нової Пошти. Зверніть увагу, що у разі вибору цього способу оплати  ви сплачуєте ще 2% від вартості вантажу + 20 грн. </p>
                    </div>
                </div>
                <div class="payment__content-item">
                    <h4 class="body-text payment__content-subtitle">Оплата карткою на сайті</h4>
                    <div class="body-text body-text--second payment__content-text">
                        <p>Для вашої зручності ми пропонуємо можливість оплатити замовлення онлайн за допомогою банківської картки. Усі платежі обробляються через захищену платіжну систему. Під час верифікації картки на вашому рахунку може бути тимчасово заблоковано 1 грн для перевірки платіжних даних. Ця сума буде автоматично повернута після успішної перевірки.</p>
                    </div>
                </div>
                <div class="payment__content-item">
                    <h4 class="body-text payment__content-subtitle">Apple Pay</h4>
                    <div class="body-text body-text--second payment__content-text">
                        <p>Оплачуйте замовлення швидко і безпечно через Apple Pay, використовуючи свої збережені платіжні дані на вашому пристрої. Важливо: Apple Pay доступний лише на пристроях Apple (iPhone, iPad, Apple Watch, Mac). Користувачі пристроїв з Android або Windows не зможуть використовувати цей спосіб оплати.</p>
                    </div>
                </div>
                <div class="payment__content-item">
                    <h4 class="body-text payment__content-subtitle">Google Pay</h4>
                    <div class="body-text body-text--second payment__content-text">
                        <p>Оплата через Google Pay також доступна для швидких і безпечних платежів. Цей спосіб підтримується на пристроях з операційною системою Android та у веббраузерах, що підтримують Google Pay. Користувачі пристроїв Apple не зможуть використовувати Google Pay на своїх пристроях.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>