<section class="politics">
    <div class="special-container politics__container">
        <div class="politics__row">
            <h3 class="title title-decor politics__title">Політика конфіденційності</h3>
            <ol class="politics__main-list">
                <li class="politics__main-item">
                    <h4 class="body-text politics__list-subtitle">
                        Ми збираємо наступні види інформації:
                    </h4>
                    <ul class="politics__secondary-list">
                        <li class="body-text body-text--second politics__secondary-item">Особиста інформація: ім'я, прізвище, вік, електронна адреса, номер телефону, адреса доставки, яку ви надаєте при оформленні замовлення.</li>
                        <li class="body-text body-text--second politics__secondary-item">Платіжна інформація: дані банківських карток та платіжних систем, які ви використовуєте для оплати замовлень. Ми не зберігаємо платіжні дані на наших серверах. Усі транзакції обробляються через безпечні платіжні системи.</li>
                        <li class="body-text body-text--second politics__secondary-item">Технічна інформація: інформація про ваш пристрій, IP-адресу, тип браузера, операційну систему та час доступу до нашого сайту.</li>
                    </ul>
                </li>
                <li class="politics__main-item">
                    <h4 class="body-text politics__list-subtitle">
                        Ми використовуємо вашу інформацію для:
                    </h4>
                    <ul class="politics__secondary-list">
                        <li class="body-text body-text--second politics__secondary-item">Оформлення та доставки ваших замовлень.</li>
                        <li class="body-text body-text--second politics__secondary-item">Зв'язку з вами щодо статусу замовлення або надання підтримки.</li>
                        <li class="body-text body-text--second politics__secondary-item">Надсилання інформаційних матеріалів про нові продукти або акції (якщо ви дали згоду на це).</li>
                        <li class="body-text body-text--second politics__secondary-item">Покращення роботи нашого сайту та обслуговування клієнтів.</li>
                    </ul>
                </li>
                <li class="politics__main-item">
                    <h4 class="body-text politics__list-subtitle">
                        Ми використовуємо різні технічні та організаційні заходи для забезпечення безпеки вашої інформації, включаючи:
                    </h4>
                    <ul class="politics__secondary-list">
                        <li class="body-text body-text--second politics__secondary-item">Шифрування переданих даних за допомогою протоколу SSL.</li>
                        <li class="body-text body-text--second politics__secondary-item">Обмежений доступ до ваших особистих даних тільки для авторизованих працівників.</li>
                        <li class="body-text body-text--second politics__secondary-item">Використання безпечних серверів для зберігання вашої інформації.</li>
                    </ul>
                </li>
                <li class="politics__main-item">
                    <h4 class="body-text politics__list-subtitle">
                        Передача даних третім сторонам
                    </h4>
                    <ul class="politics__secondary-list">
                        <li class="body-text body-text--second politics__secondary-item">Ми не продаємо і не передаємо вашу особисту інформацію третім особам, за винятком випадків, коли це необхідно для виконання вашого замовлення (наприклад, служби доставки або платіжні системи).</li>
                    </ul>
                </li>
                <li class="politics__main-item">
                    <h4 class="body-text politics__list-subtitle">
                        Ви маєте право:
                    </h4>
                    <ul class="politics__secondary-list">
                        <li class="body-text body-text--second politics__secondary-item">Отримати доступ до вашої особистої інформації.</li>
                        <li class="body-text body-text--second politics__secondary-item">Виправити або видалити вашу інформацію, якщо вона є неточною або більше не потрібна.</li>
                        <li class="body-text body-text--second politics__secondary-item">Відмовитися від отримання маркетингових матеріалів у будь-який час.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</section>