<section class="register">
    <div class="register__block">
        <h1 class="register__title"></h1>
        <form action="" class="register__inputs">
            <div class="inputs__item">
                <div class="input-order__box">
                    <lable class="input-order__title" for="input-order">Номер телефону</lable>
                    <input type="text" class="input-order" id="name-input" placeholder="380 68 119 45 56">
                </div>
            </div>
            <div class="inputs__item">
                <div class="input-order__box">
                    <lable class="input-order__title" for="input-order">Введіть пароль</lable>
                    <input type="text" class="input-order" id="name-input" placeholder="*******">
                </div>
            </div>
            <div class="inputs__item">
                <div class="input-order__box">
                    <lable class="input-order__title" for="input-order"></lable>
                    <input type="text" class="input-order" id="name-input" placeholder="Повторіть пароль">
                </div>
            </div>
            <button type="submit" class="">Продовжити</button>
        </form>
    </div>
</section>