<section class="repass">
    <h1 class="repass__title">Для відновлення паролю введіть вашу електронну<br> пошту</h1>
    <form action="" class="repass__email" novalidate>
        <div class="input-order__box">
            <label class="input-order__title" for="email_input">Електронна пошта</label>
            <input type="text" class="input-order" id="email_input" name="email" placeholder="tea_store@gmail.com" required>
            <span class="error-message" id="email_error">Введіть електронну пошту</span>
        </div>
        <button type="submit" class="btn repass__btn register__btnm" id="repass_btn">Продовжити</button>
    </form>
</section>