<section class="repass">
    <h1 class="repass__title">Ввудіть код з електронної<br> пошти</h1>
    <form action="" class="repass__email" novalidate>
        <div class="input-order__box">
            <label class="input-order__title" for="code_input">Код</label>
            <input type="text" class="input-order" id="code_input" name="code" placeholder="254128" required>
            <span class="error-message" id="code_error">Код некоректний</span>
        </div>
        <button type="submit" class="btn repass__btn register__btnm" id="repass_btn">Продовжити</button>
    </form>
</section>