<section class="return">
    <div class="special-container return__container">
        <div class="return__row">
            <h3 class="title title-decor return__title">Умови обміну та повернення</h3>
            <div class="return__item">
                <h4 class="body-text return__subtitle">Ми пишаємося якістю нашого чаю і робимо все можливе, щоб ви залишилися задоволені покупкою. Проте, якщо ви не задоволені отриманим продуктом, ознайомтеся з нашими правилами повернення:</h4>
                <ul class="return__list">
                    <li class="body-text body-text--second return__list-item">Чай, як й інші продукти харчування не підлягають поверненню згідно з чинним законодавством України, якщо вони були відкриті або використані. Це пов'язано з гігієнічними нормами та безпекою.</li>
                    <li class="body-text body-text--second return__list-item">Повернення можливе тільки у разі пошкодження або помилкової відправки:  якщо ви отримали пошкоджений товар або вам надіслали не той сорт чаю, який ви замовляли, будь ласка, зв'яжіться з нами протягом 24 годин з моменту отримання замовлення. Ми обов'язково замінимо товар або повернемо вам кошти.</li>
                </ul>
            </div>
            <div class="return__item">
                <h4 class="body-text return__subtitle">Процес повернення:</h4>
                <ul class="return__list">
                    <li class="body-text body-text--second return__list-item">Повідомте нас: надішліть електронного листа на in <a href="mailto:support@teastore.com">support@teastore.com</a> з описом проблеми та додайте фотографії пошкодженого або неправильного товару.</li>
                    <li class="body-text body-text--second return__list-item">Розгляд заявки: ми опрацюємо вашу заявку протягом 1-2 робочих днів і надамо вам інструкції щодо подальших дій.</li>
                    <li class="body-text body-text--second return__list-item">Повернення коштів або заміна: у разі підтвердження помилки або пошкодження товару, ми організуємо безкоштовне повернення або обмін. Повернення коштів здійснюється на ваш платіжний засіб протягом 5-7 робочих днів.</li>
                </ul>
            </div>
        </div>
    </div>
</section>